<section class="info_section layout_padding">
  <div class="container">
    <div class="info_social">
      <div>
        <a href="">
          <img src="/images/fb.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="/images/twitter.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="/images/linkedin.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <img src="/images/insta.png" alt="" />
        </a>
      </div>
    </div>
    <div>
      <p>
        Với hàng trăm tính năng, bạn có thể thực hiện mọi nhu cầu cuộc sống với ứng dụng ADTT:
        Chuyển tiền, Gửi tiết kiệm, Vay nhanh, Đặt vé du lịch, Mua vé xem phim, Quyên góp, Mua sắm
        thanh toán… Nhanh chóng, tiện lợi, an toàn. Cả thế giới trong bàn tay, một chạm là có ngay!
      </p>
    </div>
  </div>
</section>

<section class="container-fluid footer_section">
  <p>
    &copy; 2022 All Rights Reserved By
    <a href="#">ADTT</a>
  </p>
</section>
