<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Đổi mật khẩu</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <%- include('header') %>
    <div class="container" style="padding-top: 10px; margin-bottom: 80px">
      <div class="row justify-content-center">
        <div
          class="row justify-content-center"
          style="
            border: 3px solid #800080;
            margin-top: 50px;
            min-width: 500px;
            padding-bottom: 40px;
            border-radius: 30px;
          "
        >
          <div class="col-md-8">
            <h2 class="my-5" style="text-align: center; color: #800080">Đổi mật khẩu</h2>
            <form action="" method="POST">
              <div class="form-group">
                <label for="name" style="color: #800080; font-weight: bold">Mật khẩu:</label>
                <input
                  type="password"
                  class="form-control"
                  id="pass"
                  placeholder="Nhập họ và tên"
                  name="pass"
                  style="border: 1px solid #800080"
                />
              </div>
              <div class="form-group">
                <label for="name" style="color: #800080; font-weight: bold"
                  >Xác nhận mật khẩu:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirm_pass"
                  placeholder="Nhập họ và tên"
                  name="confirm_pass"
                  style="border: 1px solid #800080"
                />
              </div>

              <button
                type="submit"
                style="
                  width: 100%;
                  background: #800080;
                  margin-bottom: 30px;
                  border-radius: 10px;
                  margin-top: 20px;
                "
                class="btn btn-success"
              >
                Đổi mật khẩu
              </button>

              <%if(error.length > 0){ %>
              <div class="alert alert-<%=type%>"><%=error%></div>
              <%}%>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
